body {
  margin: 0;
  background-color: black;
}

*:focus {
  outline: none;
}

.ui-bar {
  display: inline;
  text-align: center;
  margin: 0 auto;
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}
